
<div>

<h1>Control Flow - condicional if </h1>

@if (media >= 7 ) {
    <p>Passou direto!</p>
}@else if (media < 7 && media >= 5) {
    <p>Recuperação!</p>
}@else {
    <p>Reprovado!</p>
}

</div>

<hr />

<div>
    
<h1> control flow - Laço de repetição for </h1>

@for (nome of nomes; track $index) {
    <p> {{ $index + 1 }}. {{ nome }} </p>
}@empty {
    <p>Não existe nenhum nome registrado!</p>
}

<!-- Dica: Pode implementar o uso do comando @empty. Caso a estrutura de repetição não seja realizada, podemos retornar uma mensagem, estrutura bem interessante, caso o vetor não contenha registros -->
</div>

<hr />

<div>
    
<h1> control flow - Estrutura de escolha switch </h1>

@switch (linguagem) {
    @case ("CSS") { <p>CSS</p> }
    @case ("HTML") { <p>HTML</p> }
    @case ("JavaScript") { <p>JavaScript</p> }
    @default {<p>Linguagem não encontrada!</p>}
}

</div>

<hr />

<!-- Testando funcionamento do bootstrap -->
<button type="button" class="btn btn-primary">Primary</button>
