<h1>Diretiva *ngIf</h1>

<button (click)="exibirQuadrado()">Clique aqui</button>

<div class="quadrado" *ngIf="exibir"></div>

<hr />

<div *ngIf="nome != null">O nome é {{ nome }}</div>

<hr />

<h1>Diretiva *ngFor</h1>

<h3>Exemplo 1 - Acesso ao índice do item</h3>
<ul>
    <li *ngFor="let item of nomes; index as i"> Nome: {{item}} - indice: {{i}} </li>
</ul>

<!-- OBS. Outra forma de acesso ao indice i -->
<h3>Exemplo 2 - Acesso ao índice do item</h3>
<ul>
    <li *ngFor="let item of cores; let i=index"> {{ i+1 }}. {{ item }}</li>
</ul>

<hr />

<h1>Diretiva [ngSwitch]</h1>

<div [ngSwitch]="linguagem">
    <p *ngSwitchCase="'CSS'">Linguagem de estilo</p>
    <p *ngSwitchCase="'HTML'">Linguagem de marcação</p>
    <p *ngSwitchCase="'JS'">Linguagem JavaScript</p>
    <p *ngSwitchDefault>Linguagem não encontrada</p>
</div>

<hr />

<h1>Diretiva [ngStyle]</h1>

<h3>Exemplo 1</h3>
<h3 [ngStyle]="{'color':condicao ? 'green' : 'red'}"> Aprendendo a diretiva ngStyle </h3>

<h3>Exemplo 2</h3>
<ul>
    <li *ngFor="let s of situacao" [ngStyle]="{'background-color': s == 'Aprovado' ? 'yellow' : 'green'}"> {{ s }} </li>
</ul>

<hr />

<h1>Diretiva [ngClass]</h1>

<!-- A utilização dessa diretiva está condicionando as classes do CSS -->
<ul>
    <li *ngFor="let s of situacao" [ngClass]="s == 'Aprovado' ? 'fonteVerde' : 'fonteVermelha'"> {{ s }} </li>
</ul>