<!-- Aprendizado de rotas (route)

<nav>
    <p><a routerLink="/home">Home</a></p>
    <p><a routerLink="/about">About</a></p>
    <p><a routerLink="/admin">Admin</a></p>
    <p><a routerLink="/usuarios">Usuarios</a></p>
</nav>

<h1>Página</h1>
<router-outlet></router-outlet>
-->


<app-card titulo="Diretiva de Estilo para componente exemplo 1" cor="#B2E7E8">
    <app-componente-ex1></app-componente-ex1>
</app-card>

<app-card titulo="Diretiva de Estilo para componente exemplo 2" cor="#BFB9AA">
    <app-componente-ex2></app-componente-ex2>
</app-card>