<!-- Aprendizado de rotas (route)

<nav>
    <p><a routerLink="/home">Home</a></p>
    <p><a routerLink="/about">About</a></p>
    <p><a routerLink="/admin">Admin</a></p>
    <p><a routerLink="/usuarios">Usuarios</a></p>
</nav>

<h1>Página</h1>
<router-outlet></router-outlet>
-->

<h1>Rotas</h1>
<nav>
    <p><a routerLink="/pagina-inicial">Página Inicial</a></p>
    <p><a routerLink="/primeira-pagina">Primeira Página</a></p>
    <p><a routerLink="/login">Login</a></p>
    <p><a routerLink="/pagina-protegida">Página Protegida</a></p>
</nav>

<router-outlet></router-outlet>



