<!-- Aprendizado de rotas (route)

<nav>
    <p><a routerLink="/home">Home</a></p>
    <p><a routerLink="/about">About</a></p>
    <p><a routerLink="/admin">Admin</a></p>
    <p><a routerLink="/usuarios">Usuarios</a></p>
</nav>

<h1>Página</h1>
<router-outlet></router-outlet>
-->

<app-componente-personalizado nome="Daniel" sobrenome="Penelva" [idade]=27 [ativo]="true"></app-componente-personalizado>
<hr />
<app-componente-personalizado nome="Ana" sobrenome="Silva" [idade]=22 [ativo]="false"></app-componente-personalizado>