<h1>Formulário de Cadastro</h1>
<form [formGroup] = "formulario">

  <!-- Mensagens de Validação -->
  @if (formulario.get('nome').hasError('required') && formulario.get('nome').touched) {
    <p class="alert alert-danger">O campo nome precisa ser preenchido</p>
  }@if (formulario.get('nome').hasError('minlength') && formulario.get('nome').touched) {
    <p class="alert alert-danger">O campo nome precisa ter pelo menos dois caracteres</p>
  }@if (formulario.get('idade').hasError('required') && formulario.get('idade').touched) {
    <p class="alert alert-danger">O campo idade precisa ser preenchido.</p>
  }@if (formulario.get('idade').hasError('min') && formulario.get('idade').touched) {
    <p class="alert alert-danger">A idade mínima é 0.</p>
  }@if (formulario.get('idade').hasError('max') && formulario.get('idade').touched) {
    <p class="alert alert-danger">A idade máxima é 120.</p>
  }@if (formulario.get('cidade').hasError('required') && formulario.get('cidade').touched) {
    <p class="alert alert-danger">O campo cidade precisa ser preenchido.</p>
  }@if (formulario.get('cidade').hasError('minLength') && formulario.get('cidade').touched) {
    <p class="alert alert-danger">O campo cidade precisa ter pelo menos três caracteres.</p>
  }

  <input
    type="text"
    name="nome"
    placeholder="Entre com o nome"
    formControlName="nome"
    class="form-control"
  />
  <input
    type="text"
    name="idade"
    placeholder="Entre com a idade"
    formControlName="idade"
    class="form-control"
  />
  <input
    type="text"
    name="cidade"
    placeholder="Entre com a cidade"
    formControlName="cidade"
    class="form-control"
  />

  <input type="button" value="Cadastrar" class="btn btn-primary" />
  <input type="button" value="Alterar" class="btn btn-warning" />
  <input type="button" value="Remover" class="btn btn-danger" />
  <input type="button" value="Cancelar" class="btn btn-secondary" />
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Idade</th>
      <th scope="col">Cidade</th>
      <th scope="col">Selecionar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><button class="btn btn-dark">Selecionar</button></td>
    </tr>
  </tbody>
</table>